.App {
  text-align: center;
}

#root {
  background-color: rgb(16, 0, 36);
}

/* -------------------- NavBar ---------------------- */
.nav {
  opacity: .8;
  position: fixed;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}


/* -------------------- Hero Image ---------------------- */

.image--text {
  width: 50%;
  padding-top: 25%;
  justify-content: baseline;
}



/* -------------------- Display ---------------------- */


.grid--section {
  padding: 30px 50px;
}

/* --------------------Dropdown section ------------------- */

.dropdown--section {
  height: '250px' !important; 
  display: 'flex'; 
  justify-content: 'space-between';
  width: "80%"; 
  align-items:flex-end;
}


.overlay {
  transition: opacity 0.5s  ease-out;
}

.overlay:hover {
  opacity: 0.7;
  
}

/* ----------------- Contact page Icons ----------------- */
.gradient {

  color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584,#e1306c, #fd1d1d)
}



