.App {
  text-align: center;
}

#root {
  background-color: rgb(16, 0, 36);
}

/* -------------------- NavBar ---------------------- */
.nav {
  opacity: .7;
  position: fixed;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}


/* -------------------- Hero Image ---------------------- */

.image--text {
  width: 50%;
  padding-top: 25%;
  justify-content: baseline;
}

/* -------------------- Display ---------------------- */


.grid--section {
  padding: 30px 50px;
}

/* --------------------Dropdown section ------------------- */

.dropdown--section {
  height: '250px' !important; 
  display: 'flex'; 
  justify-content: 'space-between';
  width: "80%"; 
  align-items:flex-end;
}

.overlay:hover {
  opacity: 0.5;
  background-color: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  transition: opacity 0.5s;
}
  